<main class="conteudo-primario">

    <div class="caixa-conteudo-primario">
      <div class="caixa-link">
           <img src="" class="img_link" id="img_link_03">
           <a class="link" style="text-align: center; width: 100%;" id="link_03" href="">Caixa de links teste.</a>
      </div>
    </div>

</main>