.containerComment{
    margin-top: 1rem;
    display: flex;
    justify-content: start;
}
.avatarComment{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.containerComment div{
    flex-basis: 100%;
}
.boxComment{
    display: flex;
    flex-direction: column;
    background-color: var(--gray-400);
    margin-left: 1rem;
    padding: .8rem;
    border-radius: 8px;
}
.infoComment{
    display: flex;
    justify-content: space-between;
}
.infoComment strong, .infoComment time{
    display: block;
    padding: 0 .9rem;
    font-size: .8rem;
}
.trash{
    background-color: transparent;
    border: none;
}
.contentComment{
    padding: 1.8rem .9rem;
}
.like{
    margin: .6rem 0 .5rem 1rem;
}