.containerComment{
    margin-top: 1rem;
    display: flex;
    justify-content: start;
}
.avatarComment{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.boxComment{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: var(--gray-300);
    margin-left: 1rem;
    padding: .8rem;
    border-radius: 8px;
}
.infoComment strong, .infoComment time{
    display: block;
    padding: 0 .9rem;
    font-size: .8rem;
}
.contentComment{
    padding: 1.8rem .9rem;
}
.like{
    margin: .5rem 3.5rem;
}